<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>

<body>
    <form action="/form-submit" method="post">
        <h2>Student form</h2>
        <input type="text" name="firstname" required>
        <input type="text" name="lastname" required>
        <input type="number" required name="age" min="4" max="18">
        <select name="class" id="class">
            <option value="nursery">Nursery</option>
            <option value="LKG">LKG</option>
            <option value="UKG">UKG</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <button>Submit</button>
    </form>
</body>

</html>